main {
  height: 100vh;
  width: 100%;
  background-image: url("/src/imagenes/fondomain.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  margin-bottom: 60px;
}

.info-merienda {
  margin: auto;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.info {
  margin-left: -50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  @media (max-width: 768px) {
    width: 100%;
    margin-left: 0px;
  }
}

.info h1 {
  line-height: 4rem;
  font-size: 4.7rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "SoDo Sans SemiBold", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.info p {
  font-size: 1.45rem;
  text-align: center;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  max-width: 550px;
  margin: auto;
}
