.h1-destacados {
  line-height: 4rem;
  font-size: 4.7rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "SoDo Sans SemiBold", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 60px;
}

.productos-destacados {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 420px;
  width: 100%;
  max-width: 1500px;
  max-height: 1000px;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 60px;
  @media (max-width: 1100px) {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }
}

.left-productos-destacados {
  padding: 30px 0;
  background-color: var(--color3);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}

.left-productos-destacados h1 {
  max-width: 100%;
  line-height: 4rem;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "SoDo Sans SemiBold", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.left-productos-destacados p {
  line-height: 2rem;
  font-size: 1.3rem;
  max-width: 70%;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.right-productos-destacados {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.right-productos-destacados img {
  height: 100%;
  width: 100%;
}

.comic-button {
  position: relative;
  margin: 0;
  padding: 0.6em 3em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  font-weight: 300;
  font-size: 18px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  font-family: "SoDo Sans SemiBold", Helvetica, Arial, sans-serif;
}

.comic-button:hover {
  animation: sh0 0.5s ease-in-out both;
}

@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

.comic-button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

.comic-button::before,
.comic-button::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: gray;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

.comic-button:hover::before,
.comic-button:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.comic-button:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

.comic-button:hover::after {
  transform: translate(50%, 0) scale(1.1);
}
