@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #000;
  --color2: #515151;
  --color3: #28a745;
  --color4: #8c8c8c;
  --color5: #e0e1dd;
}

body {
  font-size: 15px;
  background-color: #d4d4d4;
}

i:hover {
  color: var(--color3);
  transition: all 0.2s linear;
}
